<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FunLearn - Learn - Choosing Category</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="css/ctg-style.css">
</head>

<body>
  <div class="app-container">
    <div class="nav">
      <div class="name">
        {{#if post}}
        <h3>User: {{post.username}}</h3>
        <h3>Score: {{post.score}}</h3>
        {{/if}}
      </div>
      <div class="home" onclick="confirm_home()">
        <i class="fas fa-home"></i>
      </div>
    </div>
    <h2>
      L E A R N
    </h2>
    <div class="btns">
      <div class="btns1">
        <button id="fruits" class="fruits" onclick="model_id(this.id)"><img src="/images/fruits.png"></button>
        <button id="animals" class="animals" onclick="model_id('animals')"><img src="/images/animals.png"></button>
      </div>
      <div class="btns2">
        <button id="shapes" class="shapes" onclick="model_id('shapes')"><img src="/images/shapes.png"></button>
        <button id="colors" class="colors" onclick="model_id('colors')"><img src="/images/colors.png"></button>
      </div>
    </div>
  </div>
  <script src="/scripts/confirm.js" type="text/javascript"></script>
  <script src="/scripts/curr_model.js" type="text/javascript"></script>
</body>

</html>